<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
  <title>{% block title %}Checkers{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block stylesheets %}
    {% stylesheets '@bootstrap_less' combine=true %}
      <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
    <link href="{{ asset('css/checkers.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}
</head>

<body>
  <div class="container">
    <nav role="navigation" class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ path('app_homepage')}}" class="navbar-brand">Home</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('rules')}}">Rules</a></li>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('checkers_all')}}">Play checkers</a></li>
            <li><a href="{{ path('user_all')}}">Users</a></li>
          {% elseif is_granted('ROLE_USER') %}
            <li><a href="{{ path('checkers_all')}}">Play checkers</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
          <li><a href="{{ path('logout')}}">Logout</a></li>
        {% else %}
          <li><a href="{{ path('login')}}">Login</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
  </div>
  {% block javascripts %}
    {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
  {% endblock %}
</body>
</html>
